.slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin-top: 2px;
    border-radius: 2px;
    height: 120vh;
  }
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  .slide {
    position: relative;
    flex: 0 0 100%;
    text-align: center;
  }
  .slide img {
    width: 100%;
    height: 90vh;
    filter: blur(2px);
  }
  .slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ea5e5e;
  }

  .slide-content h1{
    font-size: 3rem;
  }
  .slide-content p{
    font-size: 1.5rem;
  }