@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Raleway, sans-serif;
}

body {
	/* background: linear-gradient(90deg, #C7C5F4, #776BCC); */
	background-color: white;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 10vh;
}

/* done */
.screen {
	background: linear-gradient(90deg, #5D54A4, #7C78B8);
	position: relative;
    margin-top: 40px;
	margin-bottom: 40px;
	width: 467px;
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;
	height: 100%;
}

.screen__background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);
	overflow: hidden;
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 819px;
	width: 753px;
	background: #FFF;
	top: -50px;
	right: 162px;
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	

    height: 240px;
    width: 248px;
    background: #6C63AC;
    top: -159px;
    right: 28px;
    border-radius: 65px;

}

.screen__background__shape3 {
	
    height: 823px;
    width: 283px;
    background: linear-gradient(270deg, #5D54A4, #6A679E);
    top: 11px;
    right: 31px;
    border-radius: 32px;
}

.screen__background__shape4 {
	height: 805px;
	width: 213px;
	background: #7E7BB9;
	top: 700px;
	right: 177px;
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 20px;
}

.login__field {
	padding: 20px 0px;
	position: relative;
    
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 200px;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.social-login {

	width: 317px;
	bottom: 0px;
	right: 0px;
	color: #3b3691;
	font-size: 25px;
	padding-top: 44px;
	font-weight: 700;
	text-align: center;
    font-weight: bold;
    padding-left: 66px;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 0px 8px #7875B5;
}

.signup {
	margin: 8vh 0vh 5vh 12vh;
	color: #fff;
	text-align: center;
}

#signuplink {
	text-decoration: none;
	color: #3b3691;
	font-size: 15px;
}

.genderselecttext
{
    color: #6f6f85;
}
select option {
    
    
    color: #000
    
  }
  
  select option[value="1"] {
    background:#6C63AC;
    color: #fff;
  }
  
  select option[value="2"] {
    background:#6C63AC;
    color: #fff;
  }
  
  select option[value="3"] {
    background:#6C63AC;
    color: #fff;
  }
  h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 1000;
    line-height: 1.2;
    
}






  .title {
   
      
      text-transform: uppercase;
  }

 
  .card-block {
      font-size: 1em;
      position: relative;
      margin: 0;
      padding: 1em;
      border: none;
      border-top: 1px solid rgba(34, 36, 38, .1);
      box-shadow: none;
       
  }
  .card {
      font-size: 1em;
      overflow: hidden;
      padding: 5;
      border: none;
      border-radius: .28571429rem;
      box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
	  transition: all ease 0.3s;
      
  }
  
  .carousel-indicators li {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color: #404040;
  }
  .carousel-indicators li {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color: #404040;
  }
  .carousel-indicators .active {
      background-color: white;
      max-width: 12px;
      margin: 0 3px;
      height: 12px;
  }
  .carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }
  .btn {
    margin-top: auto;
  }
  
  #customnavbar
{
    background: linear-gradient(270deg, #5D54A4, #6A679E);
   
    
}
.card:hover
{
	transform: scale(1.01);
	transition: all ease 0.3s;
	box-shadow: 0 5px 0 0 #3b3691;
}